@{
    ViewBag.Title = "How Are U Today?";
}

<style>
    .uploader {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.8);
        overflow: hidden;
        transition: 0.5s;
    }

    .overlay-content-outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .overlay-content-middle {
        display: table-cell;
        vertical-align: middle;
    }

    .overlay-content-inner {
        margin-left: auto;
        margin-right: auto;
        width: 66%;
    }
</style>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/upload.js"></script>
    <script>
        var connId;
        var hub = $.connection.processingHub;
        $.connection.hub.start().done(function () {
            connId = $.connection.hub.id;
        });

        hub.client.updateProgress = function (percentage, message) {
            document.getElementById("progressBar1").style.width = percentage.toFixed(2) + "%";
        };

        var imgData = "";
        var rlen = 0;
        hub.client.receiveData = function (data, len, tot) {
            rlen += len;
            imgData += data;

            if (imgData.length === tot) {
                document.getElementById("ImagePreviewer").src = "data:image/jpeg;base64," + imgData;
                document.getElementById("UploadButton").style.display = "none";
                document.getElementById("ProgressPanel").style.height = "0%";
            }
        };
    </script>
}

<div id="AlertPanel" class="overlay">
    <div class="overlay-content-outer">
        <div class="overlay-content-middle">
            <div class="overlay-content-inner">
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" onclick="DismissAlert()">&times;</button>
                    <h4>出问题辣!</h4>
                    <div id="AlertMessagePlaceholder"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ProgressPanel" class="overlay">
    <div class="overlay-content-outer">
        <div class="overlay-content-middle">
            <div class="overlay-content-inner">
                <div class="text-center text-info">
                    Uploading
                </div>
                <div class="progress">
                    <div id="progressBar0" class="progress-bar progress-bar-success progress-bar-striped active" style="width:0%;transition:ease 0.2s;">
                    </div>
                </div>
                <div class="text-center text-info">
                    Processing
                </div>
                <div class="progress">
                    <div id="progressBar1" class="progress-bar progress-bar-success progress-bar-striped active" style="width:0%;transition:ease 0.2s;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="UploadPanel" class="jumbotron">
    <h1>今天怎么样?</h1>
    <p class="lead" style="text-align:right">
        来张自拍
        <br />
        生成你的心情图片~
    </p>

    <input type="file" id="ImageSelector" class="uploader" required onchange="ShowImagePreview(this)" />
    <div style="position:relative;text-align:center;">
        <label for="ImageSelector">
            <img id="ImagePreviewer" class="img-thumbnail" src="~/Content/ui/selectImage.png" alt="点击选取" />
        </label>
    </div>
    <input type="button" id="UploadButton" class="btn btn-default" style="width:100%;max-width:100%;" value="生成心情图片" onclick="Upload()" />
</div>
