@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    我是: <a href="mailto:wingkou@outlook.com">wingkou@outlook.com</a>
</address>

<p>你很奇怪(认真脸)</p>
<p>为什么想找我?</p>
<p>你不是想找我为什么点这个页面?</p>
<p>你找我肯定喜欢我(再次认真脸)</p>
<div class="text-center">
    <img src="~/Content/ui/biscuit.jpg" />
</div>