<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IImageProcessingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://119.29.244.64:32768/ImageProcessingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageProcessingService"
                contract="ImageProcessingServiceReference.IImageProcessingService"
                name="BasicHttpBinding_IImageProcessingService" />
        </client>
    </system.serviceModel>
</configuration>